$pageBgColor: #e7e8e9;
$accentColor: #2c526a;

$navImgSize: 20px;
$dropdownHoverColor: #1c2939;
$dropdownBg: white;
$dropdownTextColor: black;
$navMenuPadding: 13px;
$dropdownTopOffset: $navImgSize + ($navMenuPadding*2) - 8;
$notificationsIconColor: #25394e;

$boxColor: white;


$cartTextColor: black;
$cartDropdownElemColor: white;

$borderColor: #d6d6d6;


