html > body {
    background: #4a4a4a;
}


.profile-dropdown {
    color: snow;
}

.bg-white-1 {
    background: #2b2b2b;
}

.profile-dropdown:hover {
    background-color: #6f6f6f;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-font {
    font-family: "Segoe UI Semibold", serif;
    font-size: 4.5mm;
}

.cart-item {
    font-size: 2.5vh;
    border-bottom: 0.1vh solid #bbbbbb;
}




.cart-item:hover {
    background-color: #e5e5e5;
}

.cart-item-name {
    font-family: "Segoe UI Semilight", serif;
}

.cart-item-price {
    font-family: "Segoe UI Black", serif;
    color: #21b125;
}

.menu-pref-1 {
    max-height: 350px;
    overflow-y: scroll;
}



@media all and (min-width: 0px) {
    .dropdown-menu {
        width: auto;
    }
    .product-picture-2 {
        max-height: 256px;
        max-width: 256px;
    }
}

@media all and (min-width: 576px) {
    .dropdown-menu {
        width: 460px;
    }


    .product-picture-2 {
        max-height: 450px;
        max-width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        width: 614px;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-menu {
        width: 793px;
    }
}

@media all and (min-width: 1200px) {
    .dropdown-menu {
        width: 960px;
    }
}

.categories-wrapper {
    display: none;
}

.categories-container {
    background: #6f6f6f;
    color: white;

    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 300ms;
}

.categories-container-2 {
    background: #57708b;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 300ms;
}

.category {
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;
}

.subcategories-divider {
    border-bottom: 0.1vh solid #a8a8a8;
}
.subcategories-divider:hover {
    background: #293545;
}

.subcategory {
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;;
    color: snow;
}

.subcategory:hover {
    color: white;
}

.subcategories-container {
    position: absolute;
    background: #293545;
    z-index: 2;
}


.segment-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
}

.products-container {

}

.product-card {
    border: 0.1vh solid transparent;
    transition: 150ms;
    display: flex;
}

.product-card:hover {
    border: 0.1vh solid #bbbbbb;
}

.product-name {
    text-wrap: none;
    font-family: "Segoe UI Black", serif;
    font-size: 2ch;
}


.product-picture {
    width: 200px;
    height: 200px;
}

.product-picture-2 {
    width: 450px;
    height: 450px;
}

.price-box {
    background: #f6f6f6;
}

.price {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3.2vh;
}

.price-currency {
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;
}

.to-cart-block {
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-size: 1em;
    background: green;
    border-radius: 6px;
}

.to-cart-block:hover {
    cursor: pointer;
}

.filter-category {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
    border-bottom: 0.1vh solid #bbbbbb;
}

.checkbox-size {
    font-size: 2.7vh;
}

.filter-button {
    background: #bbbbbb;
    border: 0;
}

.filter-button:focus {
    background: #bbbbbb;
    border: 0;
}

.filters-box {
    border-bottom: 0.1vh solid #bbbbbb;
}

.product-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 4.5vh;
}

.product-code {
    font-family: "Segoe UI Semilight", serif;
    font-size: 1.8vh;
}

.mes-unit-box {
    font-family: "Segoe UI Semilight", serif;
    font-size: 2vh;
}


.product-description {
    font-family: "Segoe UI", serif;
    font-size: 1em;
}

.sum-box {
    background: rgba(0, 128, 0, 0.84);
    color: white;
    display: none;
    word-wrap: break-word;
    border-radius: 6px;
}

.in-stock-label {
    font-family: "Segoe UI Semibold", serif;
    color: #00e800;
}

.out-of-stock-label {
    font-family: "Segoe UI Semibold", serif;
    color: #e8363f;
}

.seller-name-label {
    font-family: "Segoe UI Semilight", serif;
}

.news-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 1.5em;
}

.news-container {

}

.news-content {
    font-size: 1em;
}

.publication-date {
    font-size: 0.9em;
    color: #bbbbbb;
    font-family: "Segoe UI Semibold", serif;
}

.box-white {
    background: white;
}

.seller-name-label {
    font-family: "Segoe UI Semibold", serif;

}

.news-item {
    border-bottom: 0.1vh solid #bbbbbb;
}