html > body {
    background: #fafafa;
}

.bg-white {
    background-color: white;
}

.profile-dropdown {

}

.profile-dropdown:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-font {
    font-family: "Segoe UI Semibold", serif;
    font-size: 4.5mm;
}

.cart-item {
    font-size: 2.5vh;
}


.item-pref-1:active {
    background: none;
    color: black;
}

.cart-item:hover {
    background-color: #e5e5e5;
}

.cart-item-name {
    font-family: "Segoe UI Semilight", serif;
}

.cart-item-price {
    font-family: "Segoe UI Black", serif;
    color: #21b125;
}

.menu-pref-1 {
    max-height: 800px;
}

@media screen and (min-width: 0px) {
    .dropdown-menu {
        width: 350px;
    }
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        width: 576px;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-menu {
        width: 740px;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-menu {
        width: 900px;
    }
}

.categories-wrapper {
    display: none;
}

.categories-container {
    background: #57708b;
    color: white;
    box-shadow: 0 0 10px 2px #000000 inset;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 300ms;
}

.category {
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-size: 2.6vh;;
}

.subcategories-divider {
    border-bottom: 0.1vh solid #a8a8a8;
}
.subcategories-divider:hover {
    background: #293545;
}

.subcategory {
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;;
    color: snow;
}

.subcategory:hover {
    color: white;
}

.subcategories-container {
    position: absolute;
    background: #293545;
    z-index: 2;
}


/*::-webkit-scrollbar {*/
    /*height: 0.1vh;*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*background: transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*background: transparent;*/
    /*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
    /*background: #e5e5e5;*/
/*}*/

.segment-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
}

.goods-container {
    border-top: 0.1vh solid #bbbbbb;
}

.product-card {
    transition: 150ms;
    display: flex;
}

.product-card:hover {
    border-left: 0.1vh solid #bbbbbb;
    border-right: 0.1vh solid #bbbbbb;
}

.product-name {
    font-family: "Segoe UI Semibold", serif;
}

.product-price {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
}

.product-picture {
    width: 100%;
    height: auto;
    max-height: 250px;
}