html > body {
    background: #fafafa;
}

.bg-white {
    background-color: white;
}

.profile-dropdown {

}

.profile-dropdown:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-font {
    font-family: "Segoe UI Semibold", serif;
    font-size: 4.5mm;
}

.cart-item {
    font-size: 2.5vh;
}


.item-pref-1:active {
    background: none;
    color: black;
}

.cart-item:hover {
    background-color: #e5e5e5;
}

.cart-item-name {
    font-family: "Segoe UI Semilight", serif;
}

.cart-item-price {
    font-family: "Segoe UI Black", serif;
    color: #21b125;
}

.menu-pref-1 {
    max-height: 800px;
}

@media screen and (min-width: 0px) {
    .dropdown-menu {
        width: 350px;
        background: red;
    }

    .product-picture-2 {
        max-height: 256px;
        max-width: 256px;
    }
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        width: 576px;
    }

    .product-picture-2 {
        max-height: 450px;
        max-width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu {
        width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-menu {
        width: 740px;
    }
}

@media screen and (min-width: 1200px) {
    .dropdown-menu {
        width: 900px;
    }
}

.categories-wrapper {
    display: none;
}

.categories-container {
    background: #57708b;
    color: white;
    box-shadow: 0 0 10px 2px #000000 inset;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: 300ms;
}

.category {
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;
}

.subcategories-divider {
    border-bottom: 0.1vh solid #a8a8a8;
}
.subcategories-divider:hover {
    background: #293545;
}

.subcategory {
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;;
    color: snow;
}

.subcategory:hover {
    color: white;
}

.subcategories-container {
    position: absolute;
    background: #293545;
    z-index: 2;
}


/*::-webkit-scrollbar {*/
    /*height: 0.1vh;*/
/*}*/

/*::-webkit-scrollbar-track {*/
    /*background: transparent;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*background: transparent;*/
    /*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
    /*background: #e5e5e5;*/
/*}*/

.segment-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
}

.products-container {

}

.product-card {
    border: 0.1vh solid transparent;
    transition: 150ms;
    display: flex;
}

.product-card:hover {
    border: 0.1vh solid #bbbbbb;
}

.product-name {
    text-wrap: none;
    font-family: "Segoe UI Black", serif;
    font-size: 2ch;
}


.product-picture {
    width: 200px;
    height: 200px;
}

.product-picture-2 {
    width: 450px;
    height: 450px;
}

.price-box {
    background: #f6f6f6;
}

.price {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3.2vh;
}

.price-currency {
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;
}

.to-cart-block {
    color: white;
    font-family: "Segoe UI Semibold", serif;
    font-size: 2vh;
    background: green;
    border-radius: 6px;
}

.to-cart-block:hover {
    cursor: pointer;
}

.filter-category {
    font-family: "Segoe UI Semibold", serif;
    font-size: 3vh;
    border-bottom: 0.1vh solid #bbbbbb;
}

.checkbox-size {
    font-size: 2.7vh;
}

.filter-button {
    background: #bbbbbb;
    border: 0;
}

.filter-button:focus {
    background: #bbbbbb;
    border: 0;
}

.filters-box {
    border-bottom: 0.1vh solid #bbbbbb;
}

.product-header {
    font-family: "Segoe UI Semibold", serif;
    font-size: 4.5vh;
}

.product-code {
    font-family: "Segoe UI Semilight", serif;
    font-size: 1.8vh;
}

.mes-unit-box {
    font-family: "Segoe UI Semilight", serif;
    font-size: 2;
}


.product-description {
    font-family: "Segoe UI", serif;
    font-size: 2    vh;
}



